
IO_LOC "raw_clk" 4;
CLOCK_LOC "raw_clk" BUFG;

//IO_LOC "leds[0]" 15;
//IO_LOC "leds[1]" 16;
//IO_LOC "leds[2]" 17;
//IO_LOC "leds[3]" 18;
//IO_LOC "leds[4]" 19;
//IO_LOC "leds[5]" 20;

// GPIO.
IO_LOC "ioport_0"  73;
IO_LOC "ioport_1"  74;
IO_LOC "ioport_2"  75;
IO_LOC "ioport_3"  85;
//IO_LOC "ioport_4"  77;

//SPI peripheral 0.
//IO_LOC "spi_cs" 76;
IO_LOC "spi_clk"  80;
IO_LOC "spi_mosi" 42;
IO_LOC "spi_miso" 41;

// SPI Peripheral 1 (SparkFun SerLCD).
//IO_LOC "spi_cs_1"   55;
//IO_LOC "spi_mosi_1" 49;
//IO_LOC "spi_miso_1" 86;
//IO_LOC "spi_clk_1"  79;

// UART
IO_LOC "uart_tx_0" 72;
IO_LOC "uart_rx_0" 71;

// Speaker.
IO_LOC "speaker_p" 56;
IO_LOC "speaker_m" 54;

// Buttons.
IO_LOC "button_reset"          87;
IO_LOC "button_halt"           88;
IO_LOC "button_program_select" 53;
IO_LOC "button_0"              52;

IO_PORT "button_reset"          IO_TYPE=LVCMOS33;
IO_PORT "button_halt"           IO_TYPE=LVCMOS33;
IO_PORT "button_program_select" IO_TYPE=LVCMOS33;
IO_PORT "button_0"              IO_TYPE=LVCMOS33;

// Windbond W25Q128JV 16MB flash memory.
// do connects to do pin on flash chip and is an input to the w65c832.
// di connects to di pin on flash chip and is an output from the w65c832.
//IO_LOC "windbond_reset" 28;
//IO_LOC "windbond_wp"    26;
//IO_LOC "windbond_do"    25;
//IO_LOC "windbond_di"    29;
//IO_LOC "windbond_clk"   30;
//IO_LOC "windbond_cs"    31;

